{# Extends template base #}
{% extends "mir_public/base.html.twig" %}
{# add extra Seo, meta, links and scripts #}
{% block title %}{# Title of the page #}
    Make it real | Recover your password
{% endblock %}
{% block metas %}{# Extra metas #}
{% endblock %}
{% block links %}{# Extra links #}
    <link href="{{ asset('assets/css/mir_public/forgotPassword.css') }}" rel="stylesheet">
{% endblock %}
{% block scripts %}{# Extra scripts #}
    <script src="{{ asset('assets/js/mir_public/paroller.js') }}"></script>
    <script src="{{ asset('assets/js/mir_public/mir_public.js') }}"></script>
{% endblock %}

{% block body %}
    <section id="formSection" class="jumbotron" data-paroller-factor="0.5" data-paroller-factor-xs="0.5">
        <div id="formContainer" class="container p-5 rounded bg-light">
            <div class="row ml-1 mt-3 mb-3">
                <h1>Enter your email to recover your account</h1>
            </div>
            <div class="row ml-1 mt-3 mb-3">
                {% if alert is not null %}
                    <div class="alert alert-{{ alert[0] }}" role="alert">
                        {{ alert[1] }}
                    </div>
                {% endif %}
            </div>
            {{ form_start(forgotForm) }}
            <div class="row mt-3 mb-3">
                <div class="col-sm-12">
                    {{ form_row(forgotForm.email, {attr:{class: 'form-control'}}) }}
                </div>
            </div>
            <div class="row mt-3 mb-3">
                <div class="col-sm-12">
                    {{ form_row(forgotForm.submit) }}
                </div>
            </div>
            {{ form_end(forgotForm) }}
        </div>
    </section>
{% endblock %}